.datasets {
  padding: $land-top-padding $gen-padding;
  padding: 10% $gen-padding $land-top-padding $gen-padding;
  background: $color-white;

  @include respond(big-desktop-min) {
    padding: 10% $gen-padding-large $land-top-padding $gen-padding-large;
  }

  @include respond(tab-land) {
    padding: 10% $gen-padding-medium $land-top-padding $gen-padding-medium;
  }

  @include respond(tab-port3) {
    padding: $land-top-padding-medium $gen-padding-medium;
  }

  @include respond(l-phone2) {
    padding: $land-top-padding-small $gen-padding-small;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5%;
  }

  &__card {
    flex: 1 1 25%;
    padding: 1.5%;

    @include respond(tab-land) {
      flex: 1 1 33.333333333333333%;
    }

    @include respond(l-phone2) {
      flex: 1 1 50%;
    }

    @include respond(m-phone4) {
      flex: 1 1 100%;

      &:not(:last-child) {
        margin-bottom: 3%;
      }
    }
  }

  &__hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 0;
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(37, 36, 36, 0.15);
    border-radius: 12px;
    transition: all .2s;

    &:hover {
      box-shadow: 0px 12px 26px rgba(23, 42, 149, 0.15);
      transform: translateY(-8px);
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;

    @include respond(l-phone2) {
      height: 4.8rem;
      width: 4.8rem;
    }
  }
}

// .datasets__card:hover > .datasets__hover {
//   box-shadow: 0px 10px 16px rgba(37, 36, 36, 0.08);
//   transform: translateX(6px);
// }
